// 변수와 mixin을 가져와 사용할 땐 @import
@import 'utils.scss';

.SassComponent {
  display: flex;
  .box { // .SassComponent .box와 동일
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red { // .SassComponent .box .red
      background: $red;
      @include square(1); // mixin을 사용할 땐 include
    }
    &.orange {
      background: $orange;
      @include square(2);
    }
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    &.green {
      background: $green;
      @include square(4);
    }
    &.blue {
      background: $blue;
      @include square(5);
    }
    &.indigo {
      background: $indigo;
      @include square(6);
    }
    &.violet {
      background: $violet;
      @include square(7);
    }
    &:hover {
      // .SassComponent .box 에 마우스를 올렸을 때
      background: black;
    }
  }
}