.TodoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  // .TodoListItem이라는 클래스를 가졌으면서 짝수번째인 엘리먼트에 적용
  &:nth-child(even) {
    background: rgba(255, 127, 80, 0.2);
  }
  .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    // 아이콘(svg) 설정
    svg {
      font-size: 1.5rem;
    }
    .text {
      margin-left: 0.5rem;
      flex: 1;
    }
    &.checked {
      svg {
        color: tomato;
      }
      .text {
        color: tomato;
        text-decoration: line-through;
      }
    }
  }
  .remove {
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
    &:hover {
      color: tomato;
    }
  }

  // 엘리먼트 사이에 테두리를 넣는다
  & + & {
    border-top: 1px solid coral;
  }
}